doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/flat-ui.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon' href='/favicon.ico')
    script(src='/js/jquery-1.11.2.min.js')
    script(src='/js/flat-ui.min.js')
    script(src='/js/script.js')
  body
    nav(class='navbar navbar-inverse navbar-lg' role='navigation')
      div.container
        div.navbar-header
          button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.sr-only Toggle navigation
          a(class='navbar-brand' href='/') Flat UI
        div.collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#' class='active') Link to somewhere
          ul.nav.navbar-nav.navbar-right
            - if (!loginUser)
              - if (title == 'Sign in')
                li.active
                  a(href='/signin') Sign in
              - else
                li
                  a(href='/signin') Sign in
            - else
              li
                a(href='#' class='dropdown' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')= loginUser.username
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/userinfo') user info
                  li.divider
                  li
                    a(href='/signout') Sign out
    div.container
      - if (success)
        div.alert.alert-success= success
      - if (error)
        div.alert.alert-danger= error
      block content