extends layout

block content
  div.form-area.signin-form
    form(class='form-horizontal' method='post')
      div.form-group.has-feedback
        input(type='text' class='form-control input-hg' name='username' id='username' placeholder='username')
        span.form-control-feedback.fui-user
      div.form-group.has-feedback
        input(type='password' class='form-control input-hg' name='password' id='password' placeholder='password')
        span.form-control-feedback.fui-lock
      div.form-group
        button(type='submit' class='btn btn-primary btn-hg') Sign in
    p have no account?
      button.btn.btn-link.btn-wide#signUpBtn sign up >>
  div(class='form-area signup-form' style='display:none')
    form(class='form-horizontal' method='post' action='/signup')
      div.form-group.has-feedback
        input(type='text' class='form-control input-hg' name='username' id='username' placeholder='username')
        span.form-control-feedback.fui-user
      div.form-group.has-feedback
        input(type='password' class='form-control input-hg' name='password' id='password' placeholder='password')
        span.form-control-feedback.fui-lock
      div.form-group.has-feedback
        input(type='password' class='form-control input-hg' name='repassword' id='repassword' placeholder='enter your password again')
        span.form-control-feedback.fui-lock
      div.form-group
        button(type='submit' class='btn btn-primary btn-hg') Sign up
    p already have an account?
      button.btn.btn-link.btn-wide#signInBtn sign in <<