extends layout

block content
  div.user-panel.col-lg-6
    div.panel-heading Update profile
    div.panel-body
     form(class='form-horizontal' action='updateProile' method='post')
       div.form-group
         label(for='form-control') Constellation
         select(name='constellation' class='form-control select select-primary select-block mbl' id='constellation')
           each constellation in constellations
             - if (loginUser.constellation == constellation.id)
               option(value='#{constellation.id}' selected='selected') #{constellation.name_en} ( #{constellation.birth_from} - #{constellation.birth_to} )
             - else
               option(value='#{constellation.id}') #{constellation.name_en} ( #{constellation.birth_from} - #{constellation.birth_to} )
       div.form-group
         button(type='submit' class='btn btn-primary btn-hg') update profile
  div.user-panel.col-lg-5
    div.panel-heading Change password
    div.panel-body
      form(class='form-horizontal' action='updatePassword' method='post')
        div.form-group
          input(type='password' class='form-control input-hg' name='oldPassword' placeholder='Enter your old password')
        div.form-group
          input(type='password' class='form-control input-hg' name='newPassword' placeholder='Enter your new password')
        div.form-group
          input(type='password' class='form-control input-hg' name='reNewPassword' placeholder='Confirm your new password')
        div.form-group
          button(type='submit' class='btn btn-primary btn-hg') update password
  div.user-panel.col-lg-6
    div.panel-heading Delete account
    div.panel-body
      button(type='button' class='btn btn-primary btn-hg btn-wide' data-toggle='modal' data-target='#deleteAccountModal') delete account
  div.modal.fade#deleteAccountModal
    div.modal-dialog
      div.modal-content
        div.modal-header.user-modal-head DELETE ACCOUNT
        div.modal-body.user-modal-body
          div.form-group
            label(for='username') Please input your username 
              i #{loginUser.username} 
              | to cuntinue
            input(class='form-control' id='username' type='text' hover-data='#{loginUser.username}' placeholder='enter your username' reqiured)
        div.modal-footer.user-modal-footer
          form(action='/delete' method='post')
            button(type='submit' class='btn btn-primary btn-hg' disabled) delete