body {
	background-color: #2C3E50;
	color: #fff;
}
.form-area {
	width: 500px;
	margin: 20px auto;
	padding: 50px;
	background: #95A5A6;
	border-radius: 5px;
}
.signin-form {
	height: 330px;
}
.signup-form {
	height: 400px;
}
.user-panel {
	margin: 10px 20px;
}
.user-panel .panel-heading {
	background-color: #7F8C8D;
	border-radius: 5px 5px 0 0;
	padding: 10px 30px;
}
.user-panel .panel-body {
	background-color: #95A5A6;
	padding: 30px 50px;
}
.user-modal-head {
	background-color: #7F8C8D;
	border-radius: 5px 5px 0 0;
}
.user-modal-body {
	background-color: #95A5A6;
}
.user-modal-footer {
	background-color: #95A5A6;
	border-radius: 0 0 5px 5px;
}